/.buildpath
/.cache
/.metadata
/.project
/.settings
atlassian*
/nbproject
/sitemap
/.gitattributes
/.grunt
/node_modules


!/composer.json
!/composer.lock
!/README.md

#IDE's
.idea
.projects
.netbeans
.metadata
.project
.settings
.svn
#IDE's helpers
*.patch
.phpstorm.meta.php
*.phpstorm.meta.php
/nbproject
/nbproject/private/

composer.phar