$color_text: $color-01;
$description_max-height: 100px;

.tabs-block {
  & {
    @include display($position: center);
    position: relative;
  }

  > .radio {
    display: none;
  }

  > .description {
    position: absolute;
    top: 50px;
    display: none;
    max-width: max-width($description_max-height);
    text-align: center;
    color: $color_text;
  }

  > .radio:checked + .link + .description {
    display: block;
    color: change-color($color_text, $lightness: 20%);
  }

  > .radio:checked + .link {
    color: $color_text;
    text-decoration: none;
    cursor: text;
  }

  > .link{
    cursor: pointer;
    padding: 10px 20px;
  }
}