$main_color: red;
$secondary_color: black;
$color-01: gray;
$color-02: #dcdcdc;
$color-03: #fff;

$font-weight_bold: 700;
$font-weight_regular: 400;
$font-size: 14px;
$font-size_title: 24px;
$slider__height: 200px;
$tab-image__width: 100px;
$merge-border: 1px solid;
$my-option: true;
